[data-title]:hover:after {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  position: absolute;
  height: max-content;
  width: 20vw;
  display: flex;
  align-items: center;
  bottom: 0rem;
  left: 100%;
  padding:0.5rem;
  color: #3C3C3C;
  font-size: 0.75rem;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  white-space: wrap;
  border-radius: 0.5rem;
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
  background-color: #FFFFFF;
  border: 0.05rem solid #F0F0F0;
}
[data-title] {
  position: relative;
}

.transactions-item-list {
  height: 0;
  flex: 1;
}

.transactions-item-list > div {
  border-bottom: 0.05rem solid #F0F0F0;
}

.settings-button svg {
  transition: transform 0.4s ease-in-out;
}

.settings-button.active svg {
  transform: rotate(60deg);
}

/* Custom data-titles ... */
.dashboard-card {
  position: relative;
}
.dashboard-card[data-title]:after {
  left: 0;
  width: 100%;
  top: calc(100% + 1rem); 
  left: -0.05rem;
  width: calc(100% + 0.1rem);
}

.balance-card[data-title]:after {
  background-color: #3A4AD9;
  border-color: #2433C2;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  [data-title]:after {
    border-width: 0.1rem !important;
  }

  .transactions-item-list > div {
    border-bottom-width: 0.1rem !important;
  }

  .dashboard-card[data-title]:after {
    left: -0.1rem;
    width: calc(100% + 0.2rem);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Path: src/pages/application/Application.js */
.react-dropdown-select-clear, .react-dropdown-select .no-data {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-selectors > div {
  width: 6.75rem;
}

.react-dropdown-select {
  min-height: 2rem !important;
  height: 2rem !important;
  border: 0.05rem solid #F0F0F0 !important;
  border-radius: 0.25rem !important;
  padding: 0.25rem 0.5rem !important;
  outline: none !important;
  box-shadow: none !important;
  cursor: pointer !important;
}

.react-dropdown-select:hover, .react-dropdown-select:focus, .react-dropdown-select:focus-within {
  border-color: #F0F0F0 !important;
  background-color: #F8F8F8 !important;
  transition: background-color 0.4s ease-in-out;
}

.react-dropdown-select-content {
  display: flex;
  align-items: center;
  height: 2rem;
  flex-wrap: nowrap;
}

.react-dropdown-select-content > span {
  font-size: 0.75rem;
  font-weight: 500;
  color: #1A1A1A;
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 0rem;
  border-radius: 0.25rem;
  font-weight: 600;
  width: max-content;
  overflow: hidden;
  white-space: nowrap;
}

.react-dropdown-select-dropdown {
  border: 0.05rem solid #F0F0F0 !important;
  border-radius: 0.25rem !important;
  box-shadow: none !important;
  background-color: white;
  max-height: 10rem !important;
  width: fit-content !important;
  min-width: calc(100% + 0.1rem) !important;
  top: 1.9rem !important;
}

.react-dropdown-select-item {
  padding: 0.25rem 0.5rem !important;
  min-height: 2rem !important;
  transition: background-color 0.2s ease-in-out;
  font-size: 0.75rem;
  font-weight: 500;
  color: #5A5A5A;
  min-width: fit-content;
  font-weight: 600;
  width: 100%;
  border: none !important;
  display: flex;
  align-items: center;
}

.react-dropdown-select-item span, .react-dropdown-select-content span span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
  height: 1.5rem !important;
  width: 100%;
}

.react-dropdown-select-item svg, .react-dropdown-select-content span span svg{
  fill: #A8A8A8;
  width: 0.875rem !important;
  height: 0.875rem !important;
}

.react-dropdown-select-item:hover, .react-dropdown-select-item:focus, .react-dropdown-select-item:focus-within {
  background-color: #F8F8F8 !important;
}

.react-dropdown-select-item-selected {
  background-color: #F0F0F0 !important;
  color: #1A1A1A !important;
}

.react-dropdown-select-input {
  margin-left: 0rem !important;
  font-size: 0.75rem !important;
  font-weight: 600;
  color: #D6D6D6;
  width: fit-content;
}

.react-dropdown-select-input:placeholder-shown {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.react-dropdown-select-dropdown-handle {
  margin: 0 0 0 0.25rem !important;
  transition: transform 0.2s ease-in-out;
}

.react-dropdown-select-dropdown-handle svg {
  fill: #A8A8A8;
  width: 0.875rem !important;
  height: 0.875rem !important;
}

.react-dropdown-select-dropdown-handle:focus path, .react-dropdown-select-dropdown-handle:hover path {
  stroke: #A8A8A8 !important;
}

.react-dropdown-select .no-data {
  padding: 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--placeholder-color);
}

.react-dropdown-select-clear {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .react-dropdown-select, .react-dropdown-select-dropdown {
    border-width: 0.1rem !important;
  }
}

/* Date picker */
.react-date-picker__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

.react-calendar {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.react-date-picker__inputGroup {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.react-date-picker__clear-button, .react-date-picker__calendar-button {
  display: none;
}

.react-date-picker__inputGroup__input {
  background-color: none;
  background: none;
}

.react-date-picker__calendar {
  padding: 0.5rem;
  min-height: 2rem !important;
  transition: background-color 0.2s ease-in-out;
  font-size: 0.75rem;
  font-weight: 500;
  font-weight: 600;
  width: fit-content;
  border: 0.05rem solid #F0F0F0 !important;
  background-color: #FFFFFF !important;
  border-radius: 0.25rem !important;
  left: -0.05rem !important;
  display: flex;
  align-items: center;
}

.react-calendar__navigation {
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.react-calendar__navigation__arrow {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: background-color 0.4s ease-in-out;
}

.react-calendar__navigation__arrow:hover {
  background-color: #F8F8F8;
}

.react-calendar__navigation__label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  pointer-events: none;
}

.react-calendar__navigation__label__labelText {
  display: flex;
  width: max-content;
}

.react-calendar__month-view__weekdays__weekday {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
}

.react-calendar__month-view__weekdays__weekday abbr {
  overflow: hidden;
  text-overflow: ellipsis "";
  white-space: nowrap;
  max-width: 3.5ch;
  text-decoration: none;
}

.react-calendar__month-view__weekdays {
  height: 2rem;
}

.react-calendar__tile {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: background-color 0.4s ease-in-out;
}

.react-calendar__tile:hover {
  background-color: #F8F8F8;
}

.react-date-picker__calendar--closed {
  display: none;
}

.react-date-picker__inputGroup__day {
  min-width: 0.875rem;
}

.react-date-picker__inputGroup__month {
  min-width: 0.625rem;
}

.react-date-picker__inputGroup__year {
  min-width: 1.75rem;
}

.react-date-picker__inputGroup__day, .react-date-picker__inputGroup__month, .react-date-picker__inputGroup__year {
  text-align: center;
  font-variant-numeric: tabular-nums;
}

@media screen and (max-width: 768px) {
  .react-date-picker__calendar {
    border-width: 0.1rem !important;
    left: -0.1rem !important;
  }
  
}