.dropDownProfile {
  position: absolute;
  top: 3rem;
  right: -0.5rem;
  width: fit-content;
  min-width: 6rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  border: 0.05rem solid #F0F0F0;
}

@media screen and (max-width: 768px){
  .dropDownProfile, .dropDownProfile::before {
    border-width: 0.1rem;
  }
}