* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*::-webkit-scrollbar{
  display: none;
}

a {
	text-decoration: none;
}

html {
	font-size: calc(16px + (24 - 16) * (100vw - 1080px) / (2160 - 1080));
}

html, body, #root {
	width: 100%;
	margin: 0;
}

#root {
	display: flex;
	justify-content: center;
}

*::-moz-selection, *::selection {
  color: white;
  background: #2433C2;
}