* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*::-webkit-scrollbar{
  display: none;
}

a {
	text-decoration: none;
}

html {
	font-size: calc(18px + (18 - 14) * (100vw - 1080px) / (2160 - 1080));
}

html, body, #root {
	width: 100%;
	margin: 0;
}

#root {
	display: flex;
	justify-content: center;
}

*::-moz-selection, *::selection {
  color: white;
  background: #2433C2;
}

input {
	outline: none !important;
}

/* For checkboxes */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 1.25rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	display: flex;
	align-items: center;
	min-height: 1rem;
	line-height: 1rem;
}

.checkbox-container:has(input[type="checkbox"]:checked) {
  color: #3C3C3C !important;
}


.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 1rem;
  min-width: 1rem;
	border-radius: 0.25rem;
	padding: 0.1rem;
  background-color: white;
	border: 0.05rem solid #F0F0F0;
	transition: background-color 0.2s;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #FCFCFC;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: white;
	border-color: #D6D6D6;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  width: calc(100% - 0.2rem);
  height: calc(100% - 0.2rem);
	border-radius: 0.15rem;
	background-color: #7F7F7F;
  content: "";
  position: absolute;
  display: none;
}

@media screen and (min-width: 2160px) {
  html {
    font-size: calc(20px + (24 - 16) * (100vw - 2160px) / (3680 - 1080));
  }
  
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: calc(12px + (16 - 10) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: calc(10px + (16 - 10) * (100vw - 300px) / (1080 - 300));
  }
	.checkbox-container {
		padding-left: 2rem;
		min-height: 1.5rem;
	}
	.checkbox-container .checkmark {
		border-width: 0.1rem;
		min-height: 1.5rem;
  	min-width: 1.5rem;
	}
  .checkbox-container .checkmark:after {
    min-width: 1.1rem;
    min-height: 1.1rem;
  }
}

@media screen and (min-width: 340px) and (max-width: 600px) {
  html {
    font-size: calc(12px + (16 - 12) * (100vw - 300px) / (1080 - 300));
  }
}

@media screen and (min-width: 200px) and (max-width: 339px) {
  html {
    font-size: calc(10px + (16 - 10) * (100vw - 300px) / (1080 - 300));
  }
}